 <div class="col-1">
      <div class="box">
        <div class="border-top">
          <div class="left-top-corner">
            <div class="right-top-corner">
              <div class="inner">
                <h3>Co je nového</h3>
                <ul class="list">
                  <li><b><a href="#">20. leden 2014</a></b>Zima konečně naplno propukla na českých horách, je otevřeno 70% všech areálů v České republice. Leží na nich <i>10-50cm</i> přírodního a technického sněhu.</li>
                  <li><b><a href="#">31. prosinec 2013</a></b>Končí rok 2013 a situace na českých horách je zatím špatná, jezdí jen větší areály na převážně <i>20cm</i> technického sněhu</li>
                  <li><b><a href="#">10. prosinec 2013</a></b>Na většině uzemí České republiky vytrvale sněží, vypadá to že zimní sezóna už konečně začíná. První areály spustily svůj včera spustily svůj provoz.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="border-top">
          <div class="left-top-corner">
            <div class="right-top-corner">
              <div class="inner">
                <h3>Oblíbená střediska</h3>
                <p>Nevíte které středisko si vybrat? Připravily jsme pro vás typy na základě hodnocení našich uživatelů.</p>
                <ul>
                    <li class="marginLeft10" data-ng-repeat="resort in favoriteResorts">
                        <a href="#/resort/{{resort._id}}">{{resort.name}}</a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
 <div class="col-2">
        <div class="indent">
          <h2>Vítejte, vyznavači zimních sportů</h2>
          <p>Winter Olympics is a free websites template created by Templates.com team. This website template is optimized for 1024X768 screen resolution. It is also XHTML &amp; CSS valid. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
          <p>The website template goes with two packages – with PSD source files and without them. PSD source files are available for free for the registered members of Templates.com. The basic package (without PSD is available for anyone without registration).</p>
          <p>This website template has several pages: <a href="home.html">Home</a>,<a href="about-us.html"> About us</a>, <a href="artcles.html">Article</a> (with Article page), <a href="contact-us.html">Contact us</a> (note that contact us form – doesn&rsquo;t work), <a href="sitemap.html">Site Map</a>.</p>
        </div>
        <div class="box1">
          <div class="inner">
            <h3>Recent Articles</h3>
            <ul class="list1">
              <li><b><a href="#">Winter Olympic Sports</a></b>The Winter Olympic Sports are categorized into three main categories: ice sports; alpine, skiing and snowboarding events; Nordic events. In each of these sports there are more events. Here you will learn everything about them.</li>
              <li><b><a href="#">About Winter Olympics Template</a></b>Free 1024/768 Optimized Website Template from Templates.com. We really hope that you will like this template and use it for your website.</li>
              <li><b><a href="#">Winter Olympics</a></b>The Winter Olympics is filled with reckless moments, some of which lead to victory. Find the latest information and reviews in this <a href="article.html">sample article.</a></li>
            </ul>
          </div>
        </div>
  </div>