 <div class="col-1">
      <div class="box">
        <div class="border-top">
          <div class="left-top-corner">
            <div class="right-top-corner">
              <div class="inner">
                <h3>Co je nového</h3>
                <ul class="list">
                  <li><b><a href="#">20. leden 2014</a></b>Zima konečně naplno propukla na českých horách, je otevřeno 70% všech areálů v České republice. Leží na nich <i>10-50cm</i> přírodního a technického sněhu.</li>
                  <li><b><a href="#">31. prosinec 2013</a></b>Končí rok 2013 a situace na českých horách je zatím špatná, jezdí jen větší areály na převážně <i>20cm</i> technického sněhu</li>
                  <li><b><a href="#">10. prosinec 2013</a></b>Na většině uzemí České republiky vytrvale sněží, vypadá to že zimní sezóna už konečně začíná. První areály spustily svůj včera spustily svůj provoz.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="border-top">
          <div class="left-top-corner">
            <div class="right-top-corner">
              <div class="inner">
                <h3>Oblíbená střediska</h3>
                <p>Nevíte které středisko si vybrat? Připravily jsme pro vás typy na základě hodnocení našich uživatelů.</p>
                <ul>
                    <li class="marginLeft10" data-ng-repeat="resort in favoriteResorts">
                        <a href="#/resort/{{resort._id}}">{{resort.name}}</a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
 <div class="col-2">
        <div class="indent">
          <h2>Vítejte, vyznavači zimních sportů</h2>
          <p>Snowguide, tedy průvodce lyžařů a snowboardistů přináší ucelelený přehled českých lyžařských středisek. Je pro vás těžké se zoorientovat ve velké nabídce lyžařských středisek? Nabídneme vám střediska ověřená našimi uživateli.</p>
          <p>Střediska si můžete přehledně zobrazit na <a href="#/map">mapě</a>, nebo se podívat na jejich seznam. Aktuální situaci v areálu ukážou webkamery a pro snažší orientaci ve vybraném středisku, jsou připravy mapy.</p>
          <p>Chybí tu vaše oblíbené středisko? <a href="#/contact">Zde jej můžete přidat</a>
        </div>
        <div class="box1">
          <div class="inner">
            <h3>Poslední hodnocení</h3>
            <ul class="list1">
              <li><b><a href="#">Petr Novák - Špindlerův Mlýn</a></b>Areál ve Špindlerově Mlýně naprosto splnil má očekávání. Sjezdovky skvěle upravené, kvalitní lanovky bez delších front. Vyšší cena je vykoupena kvalitou poskytnutých služeb, čekání ve frontách je minimální. Ocenil bych také snowparky, které jsou skvěle upravené a poskytují prostor pro zábávu zkušeným i začínajícím jezdcům.</li>
              <li><b><a href="#">Jana Hrubá - Deštné v Orlických horách</a></b>Středisko v Deštné mě příjemně překvapilo. Nízké ceny, kvalitně upravené sjezdovky. Půjčovna lyží hned u stanice lanovky a slevy na pernamentky. Bohužel lanovka by mohla jezdit trochu rychleji.</li>
              <li><b><a href="#">Filip Kocián - Sedloňov </a></b>Areál se mi vůbec nelíbil. Sjezdovka je velmi krátká a prudká. Vlek je staršího data a je značně nepohodlný. Aspoň že cena plně odpovídá kvalitě.</li>
            </ul>
          </div>
        </div>
  </div>