<div data-ng-init="initResortDetail()" data-ng-show="initStates.resortDetail===true">
    <h4 class="text-center"><span data-ng-show="resort.ccresort">Běžecká trasa: </span>{{resort.name}}</h4><br/>
    <div class="col-2">
        <div data-ng-show="resort.photos">
            <carousel interval="carouselInterval">
                <slide ng-repeat="photo in resort.photos">
                  <img ng-src="{{photo.src}}" style="margin:auto;">
                  <div class="carousel-caption">
                    <h4>{{resort.name}}</h4>
                    <p>{{photo.text}}</p>
                  </div>
                </slide>
            </carousel>
        </div>
        <div data-ng-hide="resort.photos" class="center-block"><h4 class="normalcase text-center margin100">Omlouváme se,<br/> ale žádný obrázek střediska není k dispozici</h3></div>
    </div>
    <div class="col-1 marginOnlyLeft20">
        <table id="ResortTable">
            <tr data-ng-hide="resort.ccresort">
                <td>
                    Výška sněhu
                </td>
                <td>
                    {{resort.snow}}cm
                </td>
            </tr>
            <tr data-ng-hide="resort.ccresort">
                <td>
                    Typ sněhu
                </td>
                <td>
                    {{resort.snowType}}
                </td>
            </tr>
            <tr>
                <td data-ng-hide="resort.ccresort">
                    Délka sjezdovek
                </td>
                <td data-ng-show="resort.ccresort">
                    Délka trasy
                </td>
                <td>
                    {{resort.slopes}}km
                </td>
            </tr>
            <tr data-ng-show="resort.ccresort">
                <td>Obtížnost</td>
                <td>{{resort.level}}</td>
            </tr>
            <tr>
                <td>
                    Stav
                </td>
                <td>
                    <span data-ng-show="resort.state=='open'" class="green">Otevřeno</span>
                    <span data-ng-show="resort.state=='closed'" class="red">Zavřeno</span>
                </td>
            </tr>
            <tr data-ng-hide="resort.ccresort">
                <td>
                    Umělé zasněžování
                </td>
                <td>
                    <span class="glyphicon" data-ng-class="{'glyphicon-ok':resort.artificialSnow,'glyphicon-remove':!resort.artificialSnow}"></span>
                </td>
            </tr>
            <tr data-ng-hide="resort.ccresort">
                <td>
                    Večerní lyžování
                </td>
                <td>
                    <span class="glyphicon" data-ng-class="{'glyphicon-ok':resort.nightSkiing,'glyphicon-remove':!resort.nightSkiing}"></span>
                </td>
            </tr>

            <tr><td colspan="2">&nbsp;</td></tr>
            <tr data-ng-hide="resort.ccresort">
                <td><a class="lightboxLauncher" href="#" data-ng-click="fillLightbox('map')">Mapa Areálu</a></td>
                <td><a class="lightboxLauncher" href="#" data-ng-click="fillLightbox('webcam')">Webkamera</a></td>
            </tr>
            <tr data-ng-show="resort.www">
                <td colspan="2" class="text-center">
                    <a target='_blank' href="{{resort.www}}">{{removeProtocolFromURL(resort.www)}}</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="clear"></div>
</div>
<div class="lightbox" data-ng-lightbox='{"launcherClass":"lightboxLauncher"}' id="lightbox" >
    <a href="#"><div id="LightboxCloser"></div></a>
    <div class="lightboxBody" data-ng-include="lightboxBody">
    </div>
</div>
<div data-ng-hide="initStates.resortDetail===true"><h4 class="text-center">Načítám</h4></div>
